@font-face{
    font-family: Literata;
    src: url(Literata-VariableFont_opsz\,wght.ttf);
}
.container{
    font-size: 1.3rem;
    margin-left: 30px;
    font-family: Literata;
}
.card-text{
    font-size: 1.3rem;
    margin-left: 30px;
    font-family: Literata;
}
.link-opacity-100{
    font-size: 1.3rem;
    margin-left: 30px;
    font-family: Literata;
}
.tur{
    margin-left: 30px;
    font-family: Literata;
}